<phpunit bootstrap="bootstrap_test.php">
    <testsuites>
        <testsuite name="Ouzo">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <groups>
        <exclude>
            <group>sqlite3</group>
        </exclude>
    </groups>
</phpunit>
