<phpunit bootstrap="bootstrap_test.php">
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging/>
    <groups>
        <exclude>
            <group>sqlite3</group>
        </exclude>
    </groups>
</phpunit>
