body {
    background: url("../images/bg.png");
    text-align: center;
    font-family: Verdana, serif;
}

header {
    margin-top: 100px;
    margin-bottom: 100px;
    border-bottom: 1px inset #5B313F;
}

h1 {
    font-size: 50px;
    color: #5B313F;
}

div.content {
    color: #5B4D51;
    margin: 30px;
    padding: 30px;
    border: 1px solid;
}